@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'galeria/galeria.less';
@import 'main/main.less';
@import 'moldes/golfier/golfier.less';
@import 'moldes/lapidado/lapidado.less';
@import 'moldes/modelado/modelado.less';
@import 'moldes/moldes.less';
@import 'moldes/piao/piao.less';
@import 'moldes/truff/truff.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
@import '../components/navbar/navbar.less';
// endinjector
