<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header text-left">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <i class="fa fa-bars fa-2x"></i>
      </button>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}"
                class="{{item.aClass}}"
                tooltip-placement="bottom"
                tooltip-class="{{item.tooltipClass}}"
                tooltip="{{item.title}}">
                <i class="{{item.icono}}"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
